test/schema/relax/Boolean.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0"
        datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <start>
        <element name="bool-test">
            <optional>
                <attribute name="available"><data type="boolean"/></attribute>
            </optional>
            <element name="name"><text/></element>
        </element>
    </start>
</grammar>
